<!DOCTYPE html>
<html>
<head>
	<title>Credits</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts.css') }}">
	<style type="text/css">
		body { background-color: #fafafa; }
		ul {
			width: 380px;
			list-style-type: none;
			list-style-position: inside;
			margin: 150px auto 0;
			padding: 0;
			cursor: pointer;
		}
		li {
			display: inline;
			padding: 20px;
			font-size: 24px;
		}
		a > img {
			display: inline;
			width: 22px;
			padding-right: 5px;
		}
		p {
			width: 550px;
			margin: 60px auto 0;
			font-family: Sans-Serif;
		}
		a {
			font-family: "oswald";
			color: #444;
			text-decoration: none;
		}
	</style>
</head>
<body>
<ul>
	<li><a href="http://www.fb.com/dimafet001"><img src="{{ url_for('static', filename='ic/fb.svg') }}"/>facebook</a></li>
	<li><a href="http://www.vk.com/dimafet001"><img src="{{ url_for('static', filename='ic/vk.svg') }}"/>vk</a></li>
	<li><a href="http://www.linkedin.com/in/dimafet001"><img src="{{ url_for('static', filename='ic/linkedin.svg') }}"/>LinkedIn</a></li>
</ul>
<p>Android(Java), web, python developer. Located in SF bay area.<br>If you want to contact me, you can use one of the links above (better FB or VK). If you want to recommend some website improvement, you can also text me.<br><br>Email: dimafet001@gmail.com</p>
<p>Android(Java), web, python разработчик. В данный момент проживаю в SF bay area<br>Если вы хотите связаться со мной, используйте одну из указанных ссылок (лучше FB или VK). Если вы хотите предложить, как улучшить сайт, вы можете также написать мне.</p>
</body>
</html>
