<!DOCTYPE html>
<!-- ☰ -->
<head>
<title>Созвездие</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes, minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<meta charset="utf-8">
<meta name="description" content="танцевальный коллектив для детей от 3 лет"/>
<meta name="keywords" content="rostov, dance, созвездие, sozvezdie, sozvezdie61, созвездие61, 61, Ростов, дети, занятия, группа, танцы, образование, Дон, edu, education, родители, дети"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='common-style.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='responsiveslides.css') }}">
<meta name="yandex-verification" content="889b48bcd557c49d" />
</head>
<body>
<div id="logo-div">
	<div class="main">
		<ul class="menu">
		{% for text, url in (("About us", "#about"), ("Photos", "#photos"), ("Contacts", "#contacts"), ("Join", "#join")) %} {#, ("Галерея", "/gallery")) #}
			<li><a class="empty-oval" href="{{ url }}">{{ text }}</a></li>
		{% endfor %}
		</ul>
		<ul id="social-list">
			<li><a href="https://twitter.com/dimafet" id="twitter" target="_blank"></a></li> 
			<li><a href="https://www.instagram.com/sozvezdie_rnd/" id="insta" target="_blank"></a></li>
			<li><a href="http://ok.ru/group/52247817093293" id="odnoklassniki" target="_blank"></a></li>
		</ul>
		</div>
</div>
<div class="section" id="home">
	<div class="slide">
		<div class="main text-center">
			<span class="main-title" class="block">Lorem ipsum
			</span>	
			<q class="main-title">dolor sit amet</q>
			<h4>Lorem ipsum</h4>
			<hr>
			<div class="center description">
			I made this website for a friend in Russia. It is optimised for different screen sizes and used some JS libraries. It is built on top of Flask (wsgi for apache2) 
			Mauris quis fringilla diam. Maecenas dui metus, auctor ut aliquet vitae, volutpat convallis lacus. 
			Suspendisse malesuada &#8212; <h5>nisi</h5>.
			</div>
		</div>
	</div>
</div>

<div id="about" class="section">
	<div class="main center content-center">
		<div>
			<h2 class="title">Lorem</h2>
			<div class="title-underline"></div>
		</div>
		<div class="content-left content-about">
			<img src="{{ url_for('static', filename='images/main-img.png') }}" alt="photo">
		</div>
		<div class="content-left content-about">
			<h3>Lorem ipsum dolor</h3><!-- Не понимаю зачем отчество... -->
			<span>Lorem ipsum</span>
		</div>
		<p style="margin-top: 20px;
	text-align: justify;
	font-family: arial, 'Source Sans Pro','PT sans';
	/*font-weight: 1000;*/
	font-size: 18px;
	letter-spacing: .65px;
	line-height: 25px;
	color: rgba(245, 238, 239, 0.85);">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a tempus dui, sed pretium massa. Mauris quis fringilla diam. Maecenas dui metus, auctor ut aliquet vitae, volutpat convallis lacus. Suspendisse malesuada magna et dolor rhoncus ornare.<br/>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a tempus dui, sed pretium massa. Mauris quis fringilla diam. Maecenas dui metus, auctor ut aliquet vitae, volutpat convallis lacus. Suspendisse malesuada magna et dolor rhoncus ornare. Vestibulum non ipsum rhoncus, convallis dui non, porta nisi. Ut eget luctus dui.<br/>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a tempus dui, sed pretium massa. Mauris quis fringilla diam. Maecenas dui metus, auctor ut aliquet vitae, volutpat convallis lacus. Suspendisse malesuada magna et dolor rhoncus ornare. Vestibulum non ipsum rhoncus, convallis dui non, porta nisi. Ut eget luctus dui. Curabitur aliquam luctus dui, in ullamcorper ex hendrerit eget. Integer eu pretium orci, sagittis ultricies sapien. Integer eget vehicula lectus.<br/> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a tempus dui, sed pretium massa. Mauris quis fringilla diam. Maecenas dui metus, auctor ut aliquet vitae, volutpat convallis lacus. Suspendisse malesuada magna et dolor rhoncus ornare. Vestibulum non ipsum rhoncus, convallis dui non, porta nisi. Ut eget luctus dui. Curabitur aliquam luctus dui, in ullamcorper ex hendrerit eget. Integer eu pretium orci, sagittis ultricies sapien. Integer eget vehicula lectus!</p>

	</div>
</div>

<div id="photos" class="section" style="background: linear-gradient(to bottom, #fff, #ececec)">

	<div class="wrapper main" >
		<ul class="rslides" id="slider">
		{% for name in sliderimages %}
		{% set file = "images/mainSlider/" + name %}
			<li><img src="{{ url_for('static', filename=file) }}" alt="{{ loop.index }}"></li>
		{% endfor %}
		</ul>
	</div>
</div>

<div id="contacts" class="section">
	<div class="main">
		<div class="inline-block">
			<h3>Contacts</h3>
			<ul>
				<li>Phone: {{ tel }}</li>
				<li>Email: {{ email }}</li>
				{% for address in addresses %}
				<li>{{ address[0] }}</li>
				{% endfor %}
			</ul>
			<div id="map" style="width: 90%; min-height: 400px; padding: 15px;"></div>
		</div>
	</div>
</div>
<div id="schedule" class="section">
		<!-- <div class="slide-change-btn prev-slide full-oval">&#60; назад</div> -->
		<table id="timetable" class="center">
			<caption class="center">Schedule</caption>
			<tbody>
				<tr>
				{% for day in ["M", "T", "W", "T", "F", "S", "S"] %}
					<th>{{ day }}</th>
				{% endfor %}
				</tr>
				<tr>
				{% for i in range(7) %}
					<td class="{% if timetable[i] != '' %} isData{% endif -%}">
					{{ timetable[loop.index - 1] }}</td>
				{% endfor %}
				</tr>
			</tbody>
		</table>

	</div>
<div id="join" class="section main">
	<div class="inline-block">
		<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
		<div class="send-div">
			<form class="fill fill-absolute content-padding">
				<label required for="input-name">Name</label><br>
					<input required id="input-name" type="text" placeholder="Mila Kunis" name="name" maxlength="50" autocapitalize=words>
				<br>
				<label for="input-email">Email</label><br>
					<input id="input-email" type="email" placeholder="john@gmail.com" name="email" maxlength="30">
				<br>
				<label for="input-tel">Phone</label><br>
					<input id="input-tel" type="tel" placeholder="+15601111111" name="tel" maxlength="20">
				<br>
				<label required for="input-msg">Message</label><br>
					<textarea required id="input-msg" type="text" placeholder="I'd like my kid to know how to dance" name="msg" maxlength="2000" rows="1"></textarea>
				<br>
				<button class="content-padding" type="submit">
					Send
				</button>
				<div id="error" class="content-padding">You didn't fill out the required fields</div>
				<div id="error-contacts" class="content-padding">Please fill out your phone number or email for us to contact you back</div>
				<div id="success-send"></div>
				<div id="error-send"></div>
			</form>
		</div>			
	</div>
	<a href="credits" style="display: block; margin-top: 90px; margin-bottom: 10px; text-align: center; color: #ddd; font-family: 'geometria';">Credits</a>

</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<!-- <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script> -->

<!-- This following line is optional. Only necessary if you use the option css3:false and you want to use other easing effects rather than "linear", "swing" or "easeInOutCubic".
<script src="{# static 'main/fullPage.js-master/vendors/jquery.easings.min.js' #}"></script> -->
<!-- This following line is only necessary in the case of using the plugin option `scrollOverflow:true`
<!-- <script type="text/javascript" src="{# static 'main/fullPage.js-master/vendors/jquery.slimscroll.min.js' #}"></script> -->


<script src="{{ url_for('static', filename='responsiveslides.min.js') }}"></script>
<script type="text/javascript">
	$(function() {
		$("#slider").responsiveSlides({
			nav: true,
			pager: true,
			prevText: "",
			nextText: ""
		});
	});
</script>

<script src="https://cdn.jsdelivr.net/scrollreveal.js/3.1.1/scrollreveal.min.js"></script>

<script type="text/javascript" src="{{ url_for('static', filename='underline-edit.js') }}"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='custom-responsive-list.js') }}"></script>

<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script type="text/javascript">
	ymaps.ready(init);

	var map;

	function init() {
    	map = new ymaps.Map("map", {
            center: {{ addresses[0][1] }}, 
            zoom: 1
        });

    	var marksCollection = new ymaps.GeoObjectCollection();

    	{% for place in addresses %}
        	var placemark = new ymaps.Placemark({{ place[1] }}, { 
        		hintContent: "Здесь мы тренируемся",
        		hasBalloon: false,
        	});
        	marksCollection.add(placemark);
        {% endfor %}

        map.geoObjects.add(marksCollection);

        map.setBounds(marksCollection.getBounds());
        map.setZoom(13);
	}
</script>
</body>
