<!DOCTYPE html>
	{# load staticfiles #}
<!-- ☰ -->
<title>Созвездие</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes, minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<meta charset="utf-8">
<meta name="description" content="танцевальный коллектив для детей от 3 лет"/>
<meta name="keywords" content="rostov, dance, созвездие, sozvezdie, sozvezdie61, созвездие61, 61, Ростов, дети, занятия, группа, танцы, образование, Дон, edu, education, родители, дети"/>
<link rel="stylesheet" type="text/css" href="{{ static('fonts.css') }}">
<!-- <link rel="stylesheet" type="text/css" href="{{ static('fullPage.js-master/jquery.fullPage.css') }}" /> -->
<link rel="stylesheet" type="text/css" href="{{ static('common-style.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ static('responsiveslides.css') }}">
<style type="text/css">
	#social-list {
		background: rgba(99, 85, 85, 0.2);
	}
	.empty-oval {
		color: #4E6F78;
		background-color: rgba(240, 240, 240, 0.6);
	}
	.empty-oval:active {
		background-color: rgba(200, 200, 200, 0.6);
	}
	.album-wrapper {
		margin-top: 50px;
	}
	.album {
		padding: 9px;
		margin: 6px 0;
		background-color: rgba(200, 200, 200, 0.5);
		-webkit-box-shadow: inset 0px 0px 18px -6px #666;
	  	-moz-box-shadow: inset 0px 0px 18px -6px #666;
		box-shadow: inset 0px 0px 18px -6px #666;
	}
	.photo-wrapper {
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
		padding: 10px;
		border: 5px;
		background: red; /* For browsers that do not support gradients */
	    background: -webkit-linear-gradient(left, #ccc, #e4e4e4); /* For Safari 5.1 to 6.0 */
	    background: -o-linear-gradient(left, #ccc, #e4e4e4); /* For Opera 11.1 to 12.0 */
	    background: -moz-linear-gradient(left, #ccc, #e4e4e4); /* For Firefox 3.6 to 15 */
	    background: linear-gradient(left, #ccc, #e4e4e4); /* Standard syntax */
		overflow: hidden;
		-webkit-box-shadow: 0px 1px 6px -2px #111;
	}
	.photo-item {
		display: inline;
		margin: 10px;
		border: 5px white solid;
		-webkit-box-shadow: 0px 0px 18px -6px #666;
	  	-moz-box-shadow: 0px 0px 18px -6px #666;
		box-shadow: 0px 0px 18px -6px #666;
	}
	.photo-item img {
		display: block;
		width: 175px;
		height: 100%;
		border: 0;
	}
	h3 {
		padding: 10px 15px;
		font-size: 32px;
		color: #3a3a3a;
	}
</style>

<body>
<div id="logo-div">
	<div class="main">
		<ul class="menu">
		{% for text, url in (("О нас", "/#about"), ("Фото", "/#photos"), ("Контакты", "/#contacts"), ("Записаться", "/#join"), ("Галерея", "/gallery")) %}
			<li><a class="empty-oval" href="{{ url }}">{{ text }}</a></li>
		{% endfor %}
		</ul>
		<!-- <h1>Okay</h1> -->
		<ul id="social-list">
			<li><a href="https://twitter.com/dimafet" id="twitter" target="_blank"></a></li> 
			<li><a href="https://www.instagram.com/sozvezdie_rnd/" id="insta" target="_blank"></a></li>
			<li><a href="http://ok.ru/group/52247817093293" id="odnoklassniki" target="_blank"></a></li>
		</ul>
		</div>
</div>
<div>
	<div class="main album-wrapper">
		{% for title in titles %}
			<div class="album">
			<h3>{{ title }}</h3>
			<div class="photo-wrapper">
				{% for name in images %}
					{% if name[1] == title %}
					<div class="photo-item"><img src="static/images/mainSlider/{{ name[0] }}" alt="{{ loop.index }}"></div>
					{% endif %}
				{% endfor %}
			</div>
			</div>
		{% endfor %}
	</div>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<!-- <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script> -->

<!-- This following line is optional. Only necessary if you use the option css3:false and you want to use other easing effects rather than "linear", "swing" or "easeInOutCubic".
<script src="{# static 'main/fullPage.js-master/vendors/jquery.easings.min.js' #}"></script> -->
<!-- This following line is only necessary in the case of using the plugin option `scrollOverflow:true`
<!-- <script type="text/javascript" src="{# static 'main/fullPage.js-master/vendors/jquery.slimscroll.min.js' #}"></script> -->

<script src="https://cdn.jsdelivr.net/scrollreveal.js/3.1.1/scrollreveal.min.js"></script>

<script type="text/javascript" src="{{ static('underline-edit.js') }}"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$(".photo-item").each(function(i) {
			degree = Math.floor(Math.random()*4)-2;
			$(this).css({'-webkit-transform': 'rotate(' + degree + 'deg)',
                        '-moz-transform': 'rotate(' + degree + 'deg)',
                        '-ms-transform': 'rotate(' + degree + 'deg)',
                        '-o-transform': 'rotate(' + degree + 'deg)',
                        'transform': 'rotate(' + degree + 'deg)'})
		});

		$(".photo-item img").each(function() {
			console.log("read");
		});
	});
</script>

</body>
