<!DOCTYPE html>
<!-- ☰ -->
<head>
<title>Созвездие</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes, minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<meta charset="utf-8">
<meta name="description" content="танцевальный коллектив для детей от 3 лет"/>
<meta name="keywords" content="rostov, dance, созвездие, sozvezdie, sozvezdie61, созвездие61, 61, Ростов, дети, занятия, группа, танцы, образование, Дон, edu, education, родители, дети"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='common-style.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='responsiveslides.css') }}">
<meta name="yandex-verification" content="d2dad80f15898be8" />
</head>
<body>
<div id="logo-div">
	<div class="main">
		<ul class="menu">
		{% for text, url in (("О нас", "#about"), ("Фото", "#photos"), ("Контакты", "#contacts"), ("Записаться", "#join")) %} {#, ("Галерея", "/gallery")) #}
			<li><a class="empty-oval" href="{{ url }}">{{ text }}</a></li>
		{% endfor %}
		</ul>
		<ul id="social-list">
			<li><a href="https://twitter.com/dimafet" id="twitter" target="_blank"></a></li> 
			<li><a href="https://www.instagram.com/sozvezdie_rnd/" id="insta" target="_blank"></a></li>
			<li><a href="http://ok.ru/group/52247817093293" id="odnoklassniki" target="_blank"></a></li>
		</ul>
		</div>
</div>
<div class="section" id="home">
	<div class="slide">
		<div class="main text-center">
			<span class="main-title" class="block">Студия танца
			</span>	
			<q class="main-title">Созвездие</q>
			<h4>Основана в 2008</h4>
			<hr>
			<div class="center description">
			приглашает на занятия детей и подростков. У нас есть группы для маленьких танцоров (с 3 лет),
			а также для учащихся средних и старших классов.
			Набор возможен в течение всего учебного года.
			Первое (пробное) занятие &#8212; <h5>бесплатно</h5>.
			</div>
		</div>
	</div>
</div>

<div id="about" class="section">
	<div class="main center content-center">
		<div>
			<h2 class="title">О нас</h2>
			<div class="title-underline"></div>
		</div>
		<div class="content-left content-about">
			<img src="{{ url_for('static', filename='images/main-img.png') }}" alt="photo">
		</div>
		<div class="content-left content-about">
			<h3>Оксана Георгиевна Воробьёва</h3><!-- Не понимаю зачем отчество... -->
			<span>Руководитель</span>
		</div>
		<p style="margin-top: 20px;
	text-align: justify;
	font-family: arial, 'Source Sans Pro','PT sans';
	/*font-weight: 1000;*/
	font-size: 18px;
	letter-spacing: .65px;
	line-height: 25px;
	color: rgba(245, 238, 239, 0.85);">Студия эстрадного танца «Созвездие» под руководством Воробьевой Оксаны Георгиевны существует с 2008 года. Название коллектива выбрано не случайно, ведь каждая девочка в нем маленькая звездочка в большом созвездии. Все девочки в коллективе прекрасные, яркие, сияюшие и индивидуальные, как звезды.<br/>
Первые тренировки проходили в школе №77 до 2012 года. В 2012 году коллектив переехал в школу №61, и по сей день находится там. На тренировки ходят, как и маленькие девочки, так и большие (от 3 лет до 14 лет). Самая младшая группа называется «Мира», средняя «Лира», для второй смены «Омега», а старшая «Венера». Старшие девочки помогают тренеру с малышами на сборах.<br/>
Репертуар в коллективе разнообразный: от народного танца до модерна и джаза. В нашем коллективе все девочки очень дружны и помогут в любой ситуации. Все очень любят тренировки так, как они проходят очень весело и интересно. Помимо тренировок девочки любят соревнования и конкурсы, а особенно любят, когда мы выезжаем в разные города. Коллектив уже побывал в таких городах как: Воронеж, Ессентуки, АкваЛоо, Старочеркаск, Таганрог, Санкт-Петербург.<br/> Помимо участий в разных городах, нас приглашают учавствовать в мероприятиях города. Уже несколько лет подряд коллектив выезжает на тренировочные сборы в лагерь на черное море, чтоб потренироваться и приятно провести время.
Воробьева Оксана Георгиевна – основной тренер, но еще она приглашает других хореографов, чтоб коллектив мог развиваться в разных направлениях танца.
Девиз коллектива «Ни шагу назад,ни шагу на месте – а только вперед и только все вместе» означает, что наши девочки не привыкли сдаваться, а привыкли двигаться вперед, но главное вместе!</p>

	</div>
</div>

<div id="photos" class="section" style="background: linear-gradient(to bottom, #fff, #ececec)">

	<div class="wrapper main" >
		<ul class="rslides" id="slider">
		{% for name in sliderimages %}
		{% set file = "images/mainSlider/" + name %}
			<li><img src="{{ url_for('static', filename=file) }}" alt="{{ loop.index }}"></li>
		{% endfor %}
		</ul>
	</div>
</div>

<div id="contacts" class="section">
	<div class="main">
		<div class="inline-block">
			<h3>Контакты</h3>
			<ul>
				<li>Телефон: {{ tel }}</li>
				<li>Почта: {{ email }}</li>
				{% for address in addresses %}
				<li>{{ address[0] }}</li>
				{% endfor %}
			</ul>
			<div id="map" style="width: 90%; min-height: 400px; padding: 15px;"></div>
		</div>
	</div>
</div>
<div id="schedule" class="section">
		<!-- <div class="slide-change-btn prev-slide full-oval">&#60; назад</div> -->
		<table id="timetable" class="center">
			<caption class="center">Расписание</caption>
			<tbody>
				<tr>
				{% for day in ["Пон", "Вт", "Ср", "Чт", "Пт", "Сб", "Вс"] %}
					<th>{{ day }}</th>
				{% endfor %}
				</tr>
				<tr>
				{% for i in range(7) %}
					<td class="{% if timetable[i] != '' %} isData{% endif -%}">
					{{ timetable[loop.index - 1] }}</td>
				{% endfor %}
				</tr>
			</tbody>
		</table>

	</div>
<div id="join" class="section main">
	<div class="inline-block">
		<h3>Записаться на пробное (бесплатное) занятие</h3>
		<div class="send-div">
			<form class="fill fill-absolute content-padding">
				<label required for="input-name">Имя</label><br>
					<input required id="input-name" type="text" placeholder="Василий Иванович" name="name" maxlength="50" autocapitalize=words>
				<br>
				<label for="input-email">Почта</label><br>
					<input id="input-email" type="email" placeholder="vasya@gmail.com" name="email" maxlength="30">
				<br>
				<label for="input-tel">Телефон</label><br>
					<input id="input-tel" type="tel" placeholder="89001111111" name="tel" maxlength="20">
				<br>
				<label required for="input-msg">Сообщение</label><br>
					<textarea required id="input-msg" type="text" placeholder="Я бы хотел записать моего ребёнка к вам на занятия" name="msg" maxlength="2000" rows="1"></textarea>
				<br>
				<button class="content-padding" type="submit">
					Отправить
				</button>
				<div id="error" class="content-padding">Вы не заполнили обязательные поля</div>
				<div id="error-contacts" class="content-padding">Заполните телефон или почту, чтобы мы могли связаться с вами</div>
				<div id="success-send"></div>
				<div id="error-send"></div>
			</form>
		</div>			
	</div>
	<div>
		<a href="credits" style="display: inline-block; margin-top: 120px; margin-right: 15px; margin-bottom: 30px; text-align: center; color: #ddd; font-family: 'geometria';">Credits</a>
		<a href="eng" style="display: inline-block; text-align: center; color: #ddd; font-family: 'geometria';">English</a>
	<div>

</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<!-- <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script> -->

<!-- This following line is optional. Only necessary if you use the option css3:false and you want to use other easing effects rather than "linear", "swing" or "easeInOutCubic".
<script src="{# static 'main/fullPage.js-master/vendors/jquery.easings.min.js' #}"></script> -->
<!-- This following line is only necessary in the case of using the plugin option `scrollOverflow:true`
<!-- <script type="text/javascript" src="{# static 'main/fullPage.js-master/vendors/jquery.slimscroll.min.js' #}"></script> -->


<script src="{{ url_for('static', filename='responsiveslides.min.js') }}"></script>
<script type="text/javascript">
	$(function() {
		$("#slider").responsiveSlides({
			nav: true,
			pager: true,
			prevText: "",
			nextText: ""
		});
	});
</script>

<script src="https://cdn.jsdelivr.net/scrollreveal.js/3.1.1/scrollreveal.min.js"></script>

<script type="text/javascript" src="{{ url_for('static', filename='underline-edit.js') }}"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='custom-responsive-list.js') }}"></script>

<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script type="text/javascript">
	ymaps.ready(init);

	var map;

	function init() {
    	map = new ymaps.Map("map", {
            center: {{ addresses[0][1] }}, 
            zoom: 1
        });

    	var marksCollection = new ymaps.GeoObjectCollection();

    	{% for place in addresses %}
        	var placemark = new ymaps.Placemark({{ place[1] }}, { 
        		hintContent: "Здесь мы тренируемся",
        		hasBalloon: false,
        	});
        	marksCollection.add(placemark);
        {% endfor %}

        map.geoObjects.add(marksCollection);

        map.setBounds(marksCollection.getBounds());
        map.setZoom(13);
	}
</script>
</body>
