.bg {
	overflow: hidden;
}
.bg, .bg ul {
	z-index: -3;
	position: absolute;
	top: 0;
	bottom: 0;
  	border: 0;
}
.bg, .bg ul, .bg img {
	width: auto;
	height: 100%;
}
.bg li {
	position: absolute;
	display: inline-block;
	height: 100%;

	transition: left 1s linear;
}

.bg img {
	height: 100%;
	border: 0;
}

.bg * {
	margin: 0;
	padding: 0;
}