:focus, ::-moz-focus-inner, button {
	outline: none !important;
}
::-moz-focus-inner {
	border: 0 !important;
}
body {
	width: 100%;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	max-width: 100%;
}
ul {
	list-style: none;
	list-style-type: none;
}
a {
	text-decoration: none;
}
q {
	margin: 0;
	color: white;
	font-size: 2em;
	font-family: 'geometria', "Trebuchet MS", Helvetica, sans-serif;
	quotes: "\201c" "\201d";
}
h1 {
	color: #4E6F78;
	font-size: 3em;
	font-family: 'geometria', "Trebuchet MS", Helvetica, sans-serif;
}
h2 {
	font-family: 'glober', 'geometria', sans-serif;
	font-size: 3.5em;
}
h3 {
	font-size: 45px;
	font-family: "glober", "oswald";
	margin: 0;
}
h4 {
	margin: 0;
	padding: 0;
	color: white;
	letter-spacing: 1px;
	font-size: 1.4em;
	font-family: "measure", 'sans';
	font-weight: 200;
	opacity: 0.6;
}
span {
	font-family: "geometria", "glober";
	font-weight: 100;
	font-size: 20px;
	color: rgba(235, 238, 239, 0.5);
	margin: 0;
}
p {
	margin: 0;
	font-family: "lato", "Source Sans Pro","PT sans";
	/*font-weight: lighter;*/
	font-size: 1.4em;
	color: rgba(245, 238, 239, 0.85);
}
img {
	width: 80%;
	border: 10px solid; 
	border-color: #EBEEEF;
}
hr {
	color: #fafafa;
	opacity: 0.4;
}

#logo-div > * {
	position: relative;
	display: block;
}
.menu {
	margin: 0; 
	padding-top: 0.8em;
	padding-left: 0;
}
#social-list {
	-webkit-padding-start: 6px;
	margin: auto;
	margin-top: 0.4em;
	padding-top: 10px;
	padding-bottom: 5px;
	background: rgba(99, 85, 85, 0.5);
	-webkit-box-shadow: inset 0px 5px 8px -6px #656565,
						inset 0px -5px 8px -6px #656565;
  	-moz-box-shadow: inset 0px 5px 8px -6px #666,
						inset 0px -5px 8px -6px #666;
	box-shadow: inset 0px 5px 8px -6px #666,
				inset 0px -5px 8px -6px #666;
}
#social-list, .album {
	border-radius: 10px;
}
#social-list > li, .menu > li {
	display: inline-block;
	margin: 0px 3px;
	padding: 0px;
	border: 0px none;
}
.menu > li {
	margin: 24px 3px;
}
#social-list > li {
	width: 50px; height: 50px;	
}
#social-list > li > a {
	width: 60%; height: 60%;
	padding: 0.5em;
	display: inline-block;
	background-color: #4E7079;
	background-size: 55%;
	background-repeat: no-repeat;
	background-position: center;
	border: black solid 3px;
	border-color: #4E7079;
	border-radius: 6px;
	-webkit-box-shadow: 5px 5px 16px -5px rgba(0,0,0,0.4);
  	-moz-box-shadow:    5px 5px 16px -5px rgba(0,0,0,0.4);
  	box-shadow:         5px 5px 16px -5px rgba(0,0,0,0.4);
}
#insta {
	background-image: url('ic/instagram.svg');	
}
#twitter {
	background-image: url('ic/twitter.svg');
}
#odnoklassniki {
	background-image: url('ic/ok.svg');
}
.empty-rect {
	max-width: 95%;
	margin: auto;
	padding: 144px 0;
	background-color: rgba(240, 240, 240, 0.6);
	border: #FC4858 solid 0.25em;
	border-radius: .1em;
	text-align: center;
	color: #5C7379;
	font-family: 'oswald', serif;
	font-size: 3em
}
.empty-oval {
	width: 200px;
	padding: 15px 30px;
	border: #fefefe solid 0.15em;
	border-radius: 10em;
	font-family: "geometria";
	font-weight: 700;
	font-size: 1.3em;
	color: #EBEEEF;
	background-color: rgba(255, 255, 255, 0);
	transition: background-color linear 0.15s,
						   color linear 0.15s;
	-webkit-transition: background-color linear 0.15s,
						   		   color linear 0.15s;
}
.empty-oval:active {
	color: #4E6F78;
	background-color: rgba(240, 240, 240, 0.6);
}

.full-oval {
	background-color: #4E7079;
	padding: 15px 20px;
	border-radius: 28px
}

.main {
	width: 90%;
	max-width: 859px;
	margin: auto;
}