@font-face {
	font-family: 'geometria';
	src: url('fonts/Geometria.otf');
}
@font-face {
	font-family: 'oswald';
	src: url('fonts/Oswald-Regular.ttf');
}
@font-face {
	font-family: 'glober';
	font-weight: bold;
	src: url('fonts/glober-bold.otf');
}
@font-face {
	font-family: 'glober';
	/*font-weight: lighter;*/
	src: url('fonts/glober-thin.otf');
}
@font-face {
	font-family: 'PT sans';
	font-weight: normal;
	src: url('fonts/pt-sans.regular.ttf');
}
@font-face {
	font-family: 'PT sans';
	font-weight: lighter;
	src: url('fonts/pt-sans.narrow.ttf');
}
@font-face {
	font-family: "lato";
	font-weight: normal;
	font-style: italic;
	src: url('fonts/lato/Lato-MediumItalic.ttf');
}
@font-face {
	font-family: "measure";
	src: url('fonts/Measure.otf');
}