/*! http://responsiveslides.com v1.54 by @viljamis */

.wrapper {
  position: relative;
  /*min-width: 320px;*/
  /*max-width: 85%;  */
  height: auto;
  max-height: 100%;
  margin: 1% auto;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

.rslides_nav {
  position: absolute;
  top: 0;
  bottom: 0;
  max-width: 13%;
  min-width: 7%;
  width: 90px;
  opacity: 0.3;
  background-size: 55% !important;
  z-index: 4;
}
.rslides_nav.next {
  left: auto;
  right: 0;
  background: black url("ic/ic_arrow_r.png") no-repeat 50%;
}
.rslides_nav.prev {  
  left: 0;
  right: auto;
  background: black url("ic/ic_arrow_l.png") no-repeat 50%;
}
.rslides_tabs {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 10%;
  bottom: 0;
  padding: 0;
  margin: 0;
  text-align: center;
  overflow: hidden;
  left: 50%;
  transform: translate(-50%, 0);
}
.rslides_tabs , .rslides_tabs > li, .rslides_tabs > li > a{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  align-self: stretch;
  -webkit-flex-flow: row nowrap;
  justify-content: center;
}
.rslides_tabs > li {
  align-self: stretch;
  justify-content: center;
  width: 100%;

  background-color: rgba(200,200,200,0.6);
}
.rslides_tabs > li.rslides_here {
  background-color: rgba(140, 140, 140, 0.6);
}
.rslides_tabs > li > a {
  vertical-align: middle;
  width: 100%;
  height: 100%;
  margin: auto;/* chrome does not center it without margin*/
  font-size: 0;
  color: transparent;
  background-color: transparent;
}
.rslides_selector {
  vertical-align: middle;
  width: 45px;
  height: 5px;
  background-color: rgba(240,240,240,0.8);
  margin: auto auto;  
  /*padding: 4% 5%;  */
}

@media all and (max-width: 320px) {
  .wrapper {
    /*min-width: 320px;*/
  }
}