:focus, ::-moz-focus-inner, button {
	outline: none !important;
}
::-moz-focus-inner {
	border: 0 !important;
}
body, #btn-up {
	padding: 0;
	margin: 0;	
}
ul {
	list-style: none;
	list-style-type: none;
}
a {
	text-decoration: none;
}
q {
	margin: 0;
	/*color: #4E6F78;*/
	/*color: #61D9FB;*/
	color: white;
	/*opacity: 0.8;*/
	font-size: 2em;
	font-family: 'geometria', "Trebuchet MS", Helvetica, sans-serif;
	quotes: "\201c" "\201d";
}
h1 {
	color: #4E6F78;
	font-size: 3em;
	font-family: 'geometria', "Trebuchet MS", Helvetica, sans-serif;
}
h2 {
	font-family: 'glober', 'geometria', sans-serif;
	font-size: 3.5em;
}
h3 {
	font-size: 45px;
	font-family: "glober", "oswald";
	margin: 0;
}
h4 {
	margin: 0;
	padding: 0;
	color: white;
	letter-spacing: 1px;
	font-size: 1.4em;
	font-family: "measure", 'sans';
	font-weight: 200;
	opacity: 0.6;
}
span {
	font-family: "geometria", "glober";
	font-weight: 100;
	font-size: 20px;
	color: rgba(235, 238, 239, 0.5);
	margin: 0;
}
p {
	margin: 0;
	font-family: "lato", "Source Sans Pro","PT sans";
	/*font-weight: lighter;*/
	font-size: 1.4em;
	color: rgba(245, 238, 239, 0.85);
}
img {
	width: 80%;
	border: 10px solid; 
	border-color: #EBEEEF;
}
hr {
	color: #fafafa;
	opacity: 0.4;
}
.section {
	padding: 20px;
	padding-bottom: 2em;
}
.section#home, #logo-div {
	background: #FC4858;
}
.section .slide:nth-child(2) {
	background: #221E1F;
}
.section#about {
	background-color: rgb(50, 75, 93);
	padding-bottom: 50px;
}
#logo-div > * {
	position: relative;
	display: block;
}
.menu {
	margin: 0; 
	padding-top: 0.8em;
	padding-left: 0;
}
#social-list {
	-webkit-padding-start: 0.4em;
	background: rgba(99, 85, 85, 0.5);
	border-radius: 10px;
	margin: auto;
	margin-top: 0.4em;
	padding-top: 10px;
	padding-bottom: 5px;
	-webkit-box-shadow: inset 0px 5px 8px -6px #656565,
						inset 0px -5px 8px -6px #656565;
  	-moz-box-shadow: inset 0px 5px 8px -6px #666,
  						inset 0px -5px 8px -6px #666;
	box-shadow: inset inset 0px 5px 8px -6px #666,
						inset 0px -5px 8px -6px #666;
}
#social-list > li, .menu > li {
	display: inline-block;
	margin: 0px 3px;
	padding: 0px;
	border: 0px none;
}
.menu > li {
	margin: 24px 3px;
}
#social-list > li {
	width: 50px; height: 50px;	
}
#social-list > li > a {
	width: 60%; height: 60%;
	padding: 0.5em;
	display: inline-block;
	background-color: #4E7079;
	background-size: 55%;
	background-repeat: no-repeat;
	background-position: center;
	border: black solid 3px;
	border-color: #4E7079;
	border-radius: 6px;
	-webkit-box-shadow: 5px 5px 16px -5px rgba(0,0,0,0.4);
  	-moz-box-shadow:    5px 5px 16px -5px rgba(0,0,0,0.4);
  	box-shadow:         5px 5px 16px -5px rgba(0,0,0,0.4);
}
#insta {
	background-image: url('ic/instagram.svg');	
}
#twitter {
	background-image: url('ic/twitter.svg');
}
#odnoklassniki {
	background-image: url('ic/ok.svg');
}
.description {
	color: #e0e0e0;
	font-family: "geometria";
	font-weight: 400;
	font-size: 32px;
	text-align: justify;
}
h5 {
	display: inline;
	color: #fff;
	font-family: "geometria";
	font-style: italic;
	font-weight: 600;
	font-size: 35px;
	font-weight: 600;
}

.empty-rect {
	max-width: 95%;
	margin: auto;
	padding: 144px 0;
	background-color: rgba(240, 240, 240, 0.6);
	border: #FC4858 solid 0.25em;
	border-radius: .1em;
	text-align: center;
	color: #5C7379;
	font-family: 'oswald', serif;
	font-size: 3em
}
.empty-oval {
	width: 200px;
	padding: 16px 40px;
	border: #fefefe solid 0.15em;
	border-radius: 10em;
	font-family: "geometria";
	font-weight: 700;
	font-size: 1.3em;
	color: #EBEEEF;
	background-color: rgba(255, 255, 255, 0);
	transition: background-color linear 0.15s,
						   color linear 0.15s;
	-webkit-transition: background-color linear 0.15s,
						   		   color linear 0.15s;
}
.empty-oval:active {
	color: #4E6F78;
	background-color: rgba(240, 240, 240, 0.6);
}

.full-oval {
	background-color: #4E7079;
	padding: 15px 20px;
	border-radius: 28px
}
.main-title {
	display: block;
	text-align: center;
	margin: auto;
	font-size: 2.5em;
	color: #fefefe;
}
q.main-title {
	font-size: 5em;
}
.title {
	display: inline-block;
	text-align: center;
	color: #EBEEEF;
	margin: 20px auto;
}
.title-underline {
	width: 0;
	height: 3px;
	background-color: white;
	margin: auto;
	margin-bottom: 130px;
}

.content-about {
	color: #EBEEEF;
	display: inline-block;
	vertical-align: top;
	width: 48.5%;
	margin-top: -80px;
}


.slide-change-btn {
	z-index: 4;
	position: absolute;
	margin: 0;
	border: 0;
	top: 100px;
	font-size: 1.5em;
	cursor: default;
	color: #ffffff;
	font-family: "glober", sans;
	font-weight: 600;
	-webkit-box-shadow: 3px 8px 6px -5px rgba(0,0,0,0.4);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  	-moz-box-shadow:    3px 8px 6px -5px rgba(0,0,0,0.4);  /* Firefox 3.5 - 3.6 */
  	box-shadow:         3px 8px 6px -5px rgba(0,0,0,0.4);
	
}
.slide-change-btn:active {
	opacity: 0.7;
	-webkit-box-shadow: 3px 8px 8px -5px rgba(0,0,0,0.4);
  	-moz-box-shadow:    3px 8px 8px -5px rgba(0,0,0,0.4);
  	box-shadow:         3px 8px 8px -5px rgba(0,0,0,0.4);
}
.slide-change-btn.next-slide {
	right: 51% !important;/* иначе его перекрывают нативные свойства */
}
.slide-change-btn.prev-slide {
	left: 51% !important;
}
.section#schedule {
	background-color: #324B5D;
}
#timetable {
	width: 80%;
	/*height: 200px;*/
	/*min-width: 100%;*/
	border-collapse: collapse;
	color: white;
	text-align: center;
}
#timetable caption {
	font-size: 3em;
	font-family: "geometria";
}
#timetable th, #timetable td {
	width: 14.3%;	
	height: 3.01em;
	font-family: "PT sans";
}
#timetable th {
	border-bottom: 1px solid;
	font-weight: lighter;
	font-size: 2.2em;
}
#timetable td {
	font-size: 1.6em;
}
#timetable td.isData {
	background: white;
	color: #221E1F;
}

.fp-prev {display: none}
.section#contacts {
	background: #303D52
}
.section#join {
	background: white;
	padding-bottom: 100px;
}
.section:nth-child(n+5) {
	text-align: center;
}
.section:nth-child(n+5) ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0;
	padding: 0;
	color: #6B8392;
}
.section:nth-child(n+5) ul li {
	display: inline;
	margin: 0 20px;
	font-size: 20px;
	font-family: "oswald";
}
.section:nth-child(n+5) h3 {
	font-size: 40px;
	font-family: "PT sans";
	font-weight: lighter;
}
.section:nth-child(n+5) h3 {
	color: white;
}
.section:nth-child(n+6) h3 {
	color: #455A64;
}

.inline-block {
	display: inline-block;
	vertical-align: top;
	/*width: 48%;*/
}

.send-div {
	margin-top: 30px;
	margin-left: 23px;
	padding-bottom: 30px;
	overflow: hidden;
	position: relative;
	min-height: 350px;
	width: 90%;
	text-align: left;
	background-color: #e4e4e4;

	box-shadow: 0px 16px 10px -10px #acacac;
}
label {
	font-family: "lato";
	font-size: 22px;
	color: #445961;
}
label[required]:after {
	content: "*";
	color: #ec4252;
}
input, textarea {
	-webkit-appearance: none;
	box-sizing: border-box;
	width: 100%;
	max-width: 100%;
	padding: 8px;
	background: #dedede;
	border-radius: 0;
	border: solid 1px #cacaca;
	margin-bottom: 6px;

	font-family: "lato";
	font-weight: 500;
	font-size: 15px;

   	-webkit-box-shadow: inset 0 0 6px -3px #000000;
	-moz-box-shadow:    inset 0 0 6px -3px #000000;
   	box-shadow:         inset 0 0 6px -3px #000000;
}
button[type="submit"], #error, #error-contacts {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	margin: 8px 0 0;
}
button[type="submit"] {
	z-index: 2;
	font-family: "oswald";
	font-size: 20px;
	font-weight: 400;
	background: #c0c0c0;
	border: 0;

	outline: 0 !important;
	-webkit-box-shadow: 4px 4px 6px -4px #9c9c9c;
  	-moz-box-shadow:    4px 4px 6px -4px #9c9c9c;
	box-shadow: 		4px 4px 6px -4px #9c9c9c;
}
button[type="submit"]:active {
	background: #9a9a9a;
}
#error, #error-contacts {
	z-index: 1;
	position: absolute;
	box-sizing: border-box;
	top: auto;
	bottom: -90px;
	width: 100%;
	padding-top: 10px;
	background: #ff3939;

	text-align: center;
	vertical-align: top;
	font-family: "lato", "sans";
	font-weight: 500;
	font-size: 20px;
	color: #e7e9f6;

	transition: 0.6s bottom cubic-bezier(0.67,1.45,0.41,1.08);
	-webkit-transition: 0.6s bottom cubic-bezier(0.67,1.45,0.41,1.08)
}

/*
	*
	*	Equivalents to css code to toggle classes. DO NOT TOUCH!!!
	*
*/
.fixed {
	position: fixed;
}
.unhidden {/* needed rly for start. Now to show all the page before render */
	visibility: visible;
}
.block {
	display: block !important;
}
.center {
	margin: auto;
}
.content-center {
	text-align: center;
	align-self: center;
	align-content: center;
}
.text-center {
	text-align: center;
}
.content-left {
	text-align: left;
}
.fill {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.fill-absolute {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;	
}
.content-padding {
	padding: 15px;
}
.main {
	width: 90%;
	max-width: 859px;
	margin: auto;
}

@media all and (max-width: 860px) {
	.main {
		/*max-width: 500px*/
	}
}

@media all and (max-width: 500px) {
	.left-col, .right-col {
		float: none;
		width: auto;
		clear: none;
	}
	.margin-space {
		margin-top: 40px;
	}
	.main {
		max-width: 360px;
	}
}

@media all and (max-width: 480px) {
	#logo-li {	
		margin-top: 0.1em;
	}
	.main-title {
		font-size: 2.4em;
	}
	.title-underline {
		margin-bottom: 30px;
	}
}